@using Nop.Core.Domain.Common
@inject CommonSettings commonSettings
@model CheckoutCompletedModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;

}
<div class="breadcrumb">
    <div class="container">
        <ul itemscope itemtype="http://schema.org/BreadcrumbList">
            <li>
                <a href="@Url.RouteUrl("Homepage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                <span class="delimiter">@breadcrumbDelimiter</span>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <strong class="current-item" itemprop="name">@T("Checkout.Complete")</strong>
                <span itemprop="item" itemscope itemtype="http://schema.org/Thing"
                      id="@(Url.RouteUrl("ShoppingCart"))">
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="page checkout-page order-completed-page">
    <div class="container mb-3"> 
        <div class="page-title">
            <h1 class="h3">@T("Checkout.ThankYou")</h1>
        </div>
        <div class="page-body checkout-data">
            <div class="section order-completed">
                <div class="title">
                    <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
                </div>
                <div class="details">
                    <div class="order-number">
                        @T("Checkout.OrderNumber"): @Model.CustomOrderNumber
                    </div>
                    <div class="details-link">
                        <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                    </div>
                </div>
                <div class="buttons mt-2">
                    <input type="button" value="@T("Checkout.ThankYou.Continue")" class="btn btn-primary btn-main order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("Homepage")')" />
                </div>
            </div>
        </div>
    </div>
</div>
