@model DistrictModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Districts.EditDistrictDetails").Text;
    Html.SetActiveMenuItemSystemName("Countries");
}

<form asp-controller="Country" asp-action="DistrictEdit"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Districts.EditDistrictDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="@Url.Content("~/Admin/Country/StateEdit/"+Model.StateProvinceId)">@T("Admin.Configuration.Districts.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateDistrict", Model)
</form>