@model BannerSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Banners").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Banners");
}

@{
    const string hideSearchBlockAttributeName = "CampaignPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.ContentManagement.Banner")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CampaignListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @*hide the entire search block if no elements are displayed*@
            <div class="panel panel-default panel-search" @(Model.HideStoresList ? Html.Raw("style=\"display:none\"") : null)>
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" @(Model.HideStoresList ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-campaigns" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "campaigns-grid",
                        UrlRead = new DataUrl("List", "Banner", null),
                        SearchButtonId = "search-banners",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,

                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(BannerModel.PictureModel.ImageUrl))
                    {
                        Title = T("Admin.Catalog.Products.Pictures.Fields.Picture").Text,
                        Render = new RenderCustom("renderPicturesColumnProductPictureUrl")
                    },
                            new ColumnProperty(nameof(BannerModel.Title))
                            {
                                Title = T("Admin.Promotions.Banners.Fields.Title").Text
                            },
                            new ColumnProperty(nameof(BannerModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                    })
                    <script>
            function renderPicturesColumnProductPictureUrl(data, type, row, meta) {
                return '<a href="' + row.PictureModel.ImageUrl + '" target="_blank"><img alt="' + row.PictureModel.PictureId + '" src="' + row.PictureModel.ImageUrl + '" width="150" /></a>';
            }
        </script>
                </div>
            </div>
        </div>
    </div>
</div>