@model CustomerNavigationModel
    <div class="block block-account-navigation">
        <div class="block-title">
            <strong>@T("Account.Navigation")</strong>
            <span class="toggle-class"></span>
        </div>
        <div class="block-content">
            <ul class="nav-collapse nav-account">
                @foreach (var item in Model.CustomerNavigationItems)
                {
                    <li class="@item.ItemClass">
                        <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                    </li>
                }
            </ul>
        </div>
        <div class="close-expand-mb"></div>
        <div class="close-expanded"></div>
    </div>

