@{
    Layout = "_Root";
}
@{
    //current manufacturer ID
    
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}
    <div class="container">
        @if (IsSectionDefined("categorytitle"))
        {
            @RenderSection("categorytitle")
        }
        <div class="row">
            <div class="col-md-3 left-pane">
                @if (IsSectionDefined("filter"))
                {
                    @RenderSection("filter")
                }
                @if (IsSectionDefined("left"))
                {
                    @RenderSection("left")
                }
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

