@using Nop.Core.Domain.Common
@model ShoppingCartModel
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
<div class="breadcrumb">
    <div class="container">
        <ul itemscope itemtype="http://schema.org/BreadcrumbList">
            <li>
                <a href="@Url.RouteUrl("Homepage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                <span class="delimiter">@breadcrumbDelimiter</span>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <strong class="current-item" itemprop="name">@T("ShoppingCart")</strong>
                    <span itemprop="item" itemscope itemtype="http://schema.org/Thing"
                          id="@(Url.RouteUrl("ShoppingCart"))">
                    </span>
            </li>
        </ul>
    </div>
</div>
<div class="page shopping-cart-page">
    <div class="container">
        <div class="page-body mb-3">
            @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model })
        </div>
    </div>
   
</div>
