@model CatalogPagingFilteringModel
    <div class="product-selectors bg-gray clearfix">
        @*view mode*@

        @*sorting*@
        @if (Model.AllowProductSorting)
        {
            <div class="product-sorting float-left">
                <span>@T("Catalog.OrderBy")</span>
                @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);", aria_label = T("Catalog.OrderBy.Label") })
            </div>
        }
        @if (Model.AllowProductViewModeChanging)
        {
            <div class="product-viewmode float-right">
                @if (Model.AvailableViewModes.Count > 1)
                {
                    var gridMode = Model.AvailableViewModes[0];
                    var listMode = Model.AvailableViewModes[1];

                    <a class="mr-2 grid @if(gridMode.Selected){<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text"><span class="mbi mbi-grid"></span></a>
                    <a class="list @if (listMode.Selected){<text>selected</text>}" href="@listMode.Value" title="@listMode.Text"><span class="mbi mbi-list4"></span></a>
                }
            </div>
        }
    </div>