@model HomepageNewsItemsModel
@if (Model.NewsItems.Count > 0)
{
    <div class="homapagenews"><div class="homepageitem-head">
        <h3>
            <a href="@Url.RouteUrl("NewsArchive")">@T("News")</a>
        </h3>

    </div>
    <div class="row">
        @foreach (var item in Model.NewsItems)
        {
           <div class="col-md-4"> <div class="news-item">
                <div class="news-head">
                    <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })"><img class="lazy" data-src="@item.PictureModel.ImageUrl" alt="@item.Title" /></a>
                </div>
                <h3 class="title">
                    <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                </h3>
                <div class="post-posed-date">
                    <span class="news-date">@item.CreatedOn.ToString("D")</span>
                </div>
            </div></div>
        }
    </div></div>
}