@model IList<ProductOverviewModel>
    @if (Model.Count > 0)
    {

    <div class="block-recently-viewed-products">
            <h3 class="mb-3">@T("Products.RecentlyViewedProducts")</h3>
        <div class="swiper-container recentlyviewed-slider  p-3">
            <div class="swiper-wrapper">
                @foreach (var p in Model)
                {
                <div class="swiper-slide">
                    <div class="rcv-item">
                        @if (!string.IsNullOrEmpty(p.DefaultPictureModel.ImageUrl))
                        {
                        <a class="product-picture" href="@Url.RouteUrl("Product", new { SeName=p.SeName })" title="@p.Name">
                            <img alt="@p.DefaultPictureModel.AlternateText" src="@p.DefaultPictureModel.ImageUrl" title="@p.Name" />
                        </a>
                        }
                    </div>
                </div>
                }

            </div>
        </div>

    </div>
    }
    <script asp-location="Footer">
        $(document).ready(function () {
            var homemainslider = new Swiper('.recentlyviewed-slider', {
                speed: 400,
                slidesPerView: 8,
                spaceBetween: 30,
                breakpoints: {
                    // when window width is >= 320px
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 30
                    },
                    // when window width is >= 480px
                    480: {
                        slidesPerView: 3,
                        spaceBetween: 30
                    },
                    // when window width is >= 640px
                    640: {
                        slidesPerView: 4,
                        spaceBetween: 30
                    },
                    900: {
                        slidesPerView: 6,
                        spaceBetween: 30
                    }
                }
            });
        });
    </script>
