@model OrderTotalsModel
    <div class="total-info border bg-white p-2 rounded">
        <div class="clearfix">
            <div class="float-left">
                <span>@T("ShoppingCart.Totals.SubTotal"):</span>
            </div>
            <div class="float-right">
                <span class="value-summary">@Model.SubTotal</span>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.SubTotalDiscount))
        {
            <div class="clearfix">
                <div class="float-left">
                    <span>@T("ShoppingCart.Totals.SubTotalDiscount"):</span>

                </div>
                <div class="float-right">
                    <span class="value-summary">@Model.SubTotalDiscount</span>
                </div>
            </div>
        }
        @if (!Model.HideShippingTotal)
        {
            <div class="clearfix">
                <div class="float-left">
                    <span>@T("ShoppingCart.Totals.Shipping"):</span>
                    @if (Model.RequiresShipping && !string.IsNullOrEmpty(Model.SelectedShippingMethod))
                    {
                        <span class="selected-shipping-method">@T("ShoppingCart.Totals.Shipping.Method", Model.SelectedShippingMethod)</span>
                    }
                </div>
                <div class="float-right">
                    @if (Model.RequiresShipping)
                    {
                        if (!string.IsNullOrEmpty(Model.Shipping))
                        {
                            <span class="value-summary">@Model.Shipping</span>
                        }
                        else
                        {
                            <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                        }
                    }
                    else
                    {
                        <span>@T("ShoppingCart.Totals.Shipping.NotRequired")</span>
                    }
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
        {
            <div class="clearfix">
                <div class="float-left">
                    <span>@T("ShoppingCart.Totals.PaymentMethodAdditionalFee"):</span>

                </div>
                <div class="float-right">
                    <span class="value-summary">@Model.PaymentMethodAdditionalFee</span>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
        {
            <div class="clearfix">
                <div class="float-left">
                    <span>@T("ShoppingCart.Totals.OrderTotalDiscount"):</span>

                </div>
                <div class="float-right">
                    <span class="value-summary">@Model.OrderTotalDiscount</span>
                </div>
            </div>
        }
        @if (Model.GiftCards.Count > 0)
        {
            foreach (var gc in Model.GiftCards)
            {
                <div class="clearfix">
                    <div class="float-left">
                        <label>@T("ShoppingCart.Totals.GiftCardInfo"):</label>
                        <span>@T("ShoppingCart.Totals.GiftCardInfo.Code", gc.CouponCode)</span>
                        @if (Model.IsEditable)
                        {
                            //little hack here with empty "value" element
                            <input type="submit" name="removegiftcard-@gc.Id" value=" " title="@T("Common.Remove")" class="remove-gift-card-button" />
                        }
                        <span class="giftcard-remaining">@string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, gc.Remaining)</span>
                    </div>
                    <div class="float-right">
                        <span class="value-summary">@gc.Amount</span>

                    </div>
                </div>
            }
        }
        @if (Model.RedeemedRewardPoints > 0)
        {
            <div class="clearfix">
                <div class="float-left">
                    <span>@string.Format(T("ShoppingCart.Totals.RewardPoints").Text, Model.RedeemedRewardPoints):</span>

                </div>
                <div class="float-right">
                    <span class="value-summary">@Model.RedeemedRewardPointsAmount</span>
                </div>
            </div>
        }
        <div class="clearfix py-3 border-top mt-3">
            <div class="float-left">
                <span>@T("ShoppingCart.Totals.OrderTotal"):</span>

            </div>
            <div class="float-right">
                @if (!string.IsNullOrEmpty(Model.OrderTotal))
                {
                    <span class="value-summary"><strong class="ordertotal">@Model.OrderTotal</strong></span>
                }
                else
                {
                    <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                }
            </div>
        </div>
        @if (Model.WillEarnRewardPoints > 0)
        {
            <div class="clearfix">
                <div class="float-left">
                    <span>@T("ShoppingCart.Totals.RewardPoints.WillEarn"):</span>

                </div>
                <div class="float-right">
                    <span class="value-summary">@string.Format(T("ShoppingCart.Totals.RewardPoints.WillEarn.Point").Text, Model.WillEarnRewardPoints)</span>
                </div>
            </div>
        }
    </div>
